.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

fieldset label{
    padding-left: 10px;
    padding-right: 10px;
}

fieldset p{
    margin-bottom: 3px;
}